<article class="p-5 container">
            <h1 id="title1" class="pt-5">Як стати донором крові?</h1>


            <div id="text1">
                <p>Донором крові в Україні може бути здорова людина віком від <strong>18 років, вагою від 50 кг</strong> (однак, в деяких центрах крові приймають з вагою лише від <strong>55-60 кг</strong>, наприклад, у Львівському обласному центрі служби крові). Якщо з віком та кілограмами більш-менш зрозуміло, то яка ж це здорова людина зрозуміти складніше.</p>
<p>Отже, здорова людина — це та, яка не має протипоказів до донорства. Іншими словами, якщо ви приймаєте ліки, маєте хронічні захворювання чи стоїте на обліку — донорство крові вам протипоказане чи на постійній основі, чи на тимчасовій.</p>
<p>А тепер перейдемо до деталей і ознайомимось які саме є протипокази до донорства. Вони діляться на тимчасові та абсолютні і ми рекомендуємо обов'язково ознайомитись з ними за посиланнями.</p>
<p>Чому ж існує такий величезний список протипоказів і навіщо вони, адже кров все одно перевіряють/тестують в лабораторії перед тим як видати пацієнтам в лікарні. Це все тому, що донорство в першу чергу — це турбота про донора, тобто працює принцип "не нашкодь собі". Адже погодьтесь, якщо людина потребує допомоги чи через підвищену температуру, чи має хронічне захворювання, до прикладу, псоріаз її організм потребує на даний момент відпочинку і лікування, а не навантаження. То ж спочатку турбуємось про себе і свій стан здоров'я, а вже потім — рятуємо інших.</p>
<div id="text1">
                <p>Абсолютні протипоказання щодо донорства крові та її компонентів визначені в Додатку 3 до <a href="https://zakon4.rada.gov.ua/laws/show/z0896-05" target="_blank">Порядку медичного обстеження донорів крові та (або) її компонентів</a> в розділі 1 - "Абсолютні протипоказання (усунення від донорства незалежно від давності захворювання і результатів лікування)".</p>
<p>1.1. Гемотрансмісивні захворювання</p>
<p>1.1.1. Інфекційні:</p>
<ul>
<li>СНІД, носійство Віл-інфекції.</li>
<li>Сифіліс вроджений або набутий.</li>
<li>Вірусні гепатити, позитивний результат дослідження на маркери вірусних гепатитів.</li>
<li>Туберкульоз, усі форми.</li>
<li>Бруцельоз, сипний тиф, туляремія, лепра, хвороба Крейтцфельдта-Якоба.</li>
</ul>
<p>1.1.2. Паразитарні: ехінококоз, токсоплазмоз, трепаносомоз, філяріатоз, ришта, лейшманіоз. </p>
<p>1.2. Соматичні захворювання</p>
<p>1.2.1. Злоякісні новотвори.</p>
<p>1.2.2. Хвороби крові.</p>
<p>1.2.3. Органічні захворювання ЦНС.</p>
<p>1.2.4. Повна відсутність слуху і (або) мови.</p>
<p>1.2.5. Психічні захворювання.</p>
<p>1.2.6. Наркоманія, алкоголізм.</p>
<p>1.2.7. Серцево-судинні захворювання: гіпертонічна хвороба II - III ст., ішемічна хвороба серця, атеросклероз, атеросклеротичний кардіосклероз, облітеруючий 
ендоартеріїт, неспецифічний аортоартеріїт, рецидивуючий тромбофлебіт, ендокардит, міокардит, вади серця.</p>
<p>1.2.8. Хвороби органів дихання:бронхіальна астма, бронхоектатична хвороба, емфізема легень, обструктивний бронхіт, дифузійний пневмосклероз у стадії 
декомпенсації.</p>
<p>1.2.9. Хвороби органів травлення:ахілічний гастрит, виразкова хвороба шлунка і дванадцятипалої кишки.</p>
<p>1.2.10. Захворювання печінки і жовчних шляхів: хронічні 
захворювання печінки, у тому числі токсичної природи і неясної 
етіології калькульозний холецистит з повторюваними приступами і 
явищами холангіту, цироз печінки.</p>
<p>1.2.11. Захворювання нирок і сечовивідних шляхів у стадії декомпенсації: дифузні й вогнищеві і ураження нирок, сечокам'яна хвороба.</p>
<p>1.2.12. Дифузні захворювання сполучної тканини.</p>
<p>1.2.13. Променева хвороба.</p>
<p>1.2.14. Хвороби ендокринної системи у випадку порушення функцій і обміну речовин.</p>
<p>1.2.15. Хвороби лор-органів:озена, інші гострі і хронічні важкі гнійно-запальні 
захворювання.</p>
<p>1.2.16. Очні хвороби: залишкові явища увеїту (ірит, іридоцикліт, хоріоретініт), висока міопія (6 Д і більше), трахома, повна сліпота.</p>
<p>1.2.17. Шкірні хвороби: розповсюджені захворювання шкіри запального і інфекційного 
характеру. Псоріаз, еритродермія, екземи, червоний вівчак, пухирчасті дерматози, грибкові поразки шкіри (мікроспорія, трихофітія, фавус, епідермофітія) і внутрішніх органів (глибокі мікози), гнійничкові захворювання шкіри (піодермія, фурункульоз, сікоз).</p>
<p>1.2.18. Остеомієліт гострий і хронічний.</p>
<p>1.2.19. Оперативні втручання з приводу ампутації або резекції 
органа і трансплантації органів та тканин. </p>
<p>1.3. Форми ризикованої поведінки:</p>
<ul>
<li>надання сексуальних послуг за плату,</li>
<li>статеві стосунки з малознайомими особами без презерватива,</li>
<li>часта зміна статевих партнерів,</li>
<li>гомосексуальні стосунки,</li>
<li>наркоманія.</li>
</ul>

            </div>
<p>До прикладу, нас часто питають, чи можу я бути донором, якщо "приймаю протизаплідні таблетки"? Якщо ви приймаєте їх з метою контрацепції, а не лікування — ви можете бути донором. Такі та багато інших питань турбують наших потенційних донорів, тож не соромтесь запитати й ви отримаєте <a href="https://www.messenger.com/t/donorua.ukraine" target="_blank">консультацію лікаря он-лайн</a>.</p>
<p>Ви дізнались, що можете бути донором крові, що робити далі?
Все досить просто, достатньо обрати центр крові чи реципієнта, якому ви хочете допомогти і запланувати кроводачу на зручний для вас день.</p>
<p><strong>Жодних попередніх аналізів крові чи довідок не потрібно!</strong></p>
<p>Бути донором — це відповідально, тому варто дотриматись правил підготовки й харчування перед донацією.</p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/DuO-t9qMyqI?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></p>
<p><strong>ВАЖЛИВО!</strong> Обов'язково потрібно взяти з собою документ, що посвідчує особу інакше ризикуєте не здати кров, тож не забудьте <strong>паспорт громадянина України та ідентифікаційний код.</strong></p>
<p>Після того як ви стали донором крові є правила відновлення, рекомендуємо вам дотримуватись їх і через 60 днів можна знову стати донором крові!</p>
<p>Здавайте кров регулярно і залишайтеся здоровими!</p>

            </div>
        </article>
