.form-check-label {
font-size: 14px;
}

.user-register-form  {
  padding-top: 15%;
}

.form__item {
  text-align: center;
}

span {
  font-size: 11px;
}

.welcome-message {
    font-size: 25px;
    color: red;
    font-style: italic;
}
